<div class="card mb-3">
  <div class="card-body">
    <div class="row mb-2">
      <div class="col-md-3"><strong>Razão Social:</strong></div>
      <div class="col-md-9"><%= current_user.company.name %></div>
    </div>
    <div class="row mb-2">
      <div class="col-md-3"><strong>CNPJ/CPF:</strong></div>
      <div class="col-md-9"><%= current_user.company.formatted_document %></div>
    </div>
    <div class="row mb-2">
      <div class="col-md-3"><strong>E-mail:</strong></div>
      <div class="col-md-9"><%= current_user.company.email %></div>
    </div>
    <div class="row mb-2">
      <div class="col-md-3"><strong>Telefone:</strong></div>
      <div class="col-md-9"><%= current_user.company.formatted_phone %></div>
    </div>
    <div class="row mb-2">
      <div class="col-md-3"><strong>Endereço:</strong></div>
      <div class="col-md-9"><%= current_user.company.full_address %></div>
    </div>
    <!-- Adicione outros campos conforme necessário -->
    <div class="mt-3">
      <%= link_to "Editar Dados da Empresa", "#", class: "btn btn-primary", data: { bs_toggle: "collapse", bs_target: "#editCompanyPanel" } %>
    </div>
  </div>
</div>

<div class="collapse" id="editCompanyPanel">
  <div class="card card-body">
    <%= render 'company_data_form', company: current_user.company %>
  </div>
</div>