<div class="card border-0 shadow-sm mb-3">
  <div class="card-header bg-white py-3">
    <h5 class="card-title mb-0">Gestores</h5>
  </div>
  <div class="card-body p-4">
    <div class="table-responsive">
      <table class="table table-striped table-hover align-middle mb-0">
      <thead>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
        </tr>
      </thead>
      <tbody>
        <% company_managers.each do |manager| %>
          <tr>
            <td class="fw-medium"><%= manager.name %></td>
            <td><%= manager.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>

    <% if can_promote_manager? %>
      <hr class="my-4">
      <h6 class="mb-3">Promover técnico a gestor</h6>
      <%= form_with url: promote_manager_app_configurations_path, method: :post, local: true do |f| %>
        <div class="row g-2 align-items-center">
          <div class="col-12 col-md-8">
            <%= f.collection_select :user_id, company_technicians, :id, :name, { prompt: "Selecione um técnico" }, { class: "form-select" } %>
          </div>
          <div class="col-12 col-md-4 d-grid">
            <%= f.submit "Promover", class: "btn btn-primary w-100" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
