<div class="card border-0 shadow-sm">
  <div class="card-header bg-white py-3">
    <h5 class="card-title mb-0">Perfil do responsável</h5>
  </div>
  <div class="card-body p-4">
    <%= form_with model: user, url: update_profile_app_configurations_path, method: :patch, local: true do |f| %>
      <div class="row mb-3 align-items-center">
        <div class="col-sm-3">
          <h6 class="mb-0 text-secondary">Nome completo</h6>
        </div>
        <div class="col-sm-9">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="row mb-3 align-items-center">
        <div class="col-sm-3">
          <h6 class="mb-0 text-secondary">Email</h6>
        </div>
        <div class="col-sm-9">
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>
      <div class="row mb-3 align-items-center">
        <div class="col-sm-3">
          <h6 class="mb-0 text-secondary">Telefone</h6>
        </div>
        <div class="col-sm-9">
          <%= f.text_field :phone, class: "form-control", placeholder: "(11) 99999-9999", data: { mask: "phone" } %>
        </div>
      </div>

      <hr class="my-4">

      <div class="row mb-3 align-items-center">
        <div class="col-sm-3">
          <h6 class="mb-0 text-secondary">Nova senha</h6>
        </div>
        <div class="col-sm-9">
          <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
        </div>
      </div>
      <div class="row mb-4 align-items-center">
        <div class="col-sm-3">
          <h6 class="mb-0 text-secondary">Confirme a nova senha</h6>
        </div>
        <div class="col-sm-9">
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 d-none d-sm-block"></div>
        <div class="col-sm-9">
          <%= f.submit "Salvar alterações", class: "btn btn-primary px-4" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_import_module_tag "app/profile_form" %>
