<div class="page-wrapper">
  <div class="page-content">
    <div class="row" style="min-height: 80vh;">
      <div class="col-12">
        <div class="mb-3">
          <h4 class="mb-0 text-uppercase">Configurações</h4>
        </div>
        <% flash.each do |type, message| %>
          <% bootstrap_class = { notice: "alert-success", alert: "alert-danger", error: "alert-danger" }[type.to_sym] || "alert-info" %>
          <div class="alert <%= bootstrap_class %> alert-dismissible fade show" role="alert">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
        <div class="row flex-nowrap" style="min-height: 70vh;">
          <!-- Menu lateral -->
          <nav class="col-md-2 border-end p-0" style="min-height: 70vh;">
            <div class="py-4 px-3">
              <ul class="list-unstyled nav nav-pills flex-column" id="configTabs" role="tablist">
                <li>
                  <a class="nav-link active text-decoration-none d-block py-2 ps-2 link-dark" id="tab-perfil" data-bs-toggle="pill" href="#perfil" role="tab" aria-controls="perfil" aria-selected="true">
                    <i class="bx bx-user"></i> Perfil
                  </a>
                </li>

                <% if can?(:manage, User) %>
                <li>
                  <a class="nav-link text-decoration-none d-block py-2 ps-2 link-dark" id="tab-gestores" data-bs-toggle="pill" href="#gestores" role="tab" aria-controls="gestores" aria-selected="false">
                    <i class="bx bx-group"></i> Gestores
                  </a>
                </li>
                <% end %>

                <li>
                  <a class="nav-link text-decoration-none d-block py-2 ps-2 link-dark" id="tab-empresa" data-bs-toggle="pill" href="#empresa" role="tab" aria-controls="empresa" aria-selected="false">
                    <i class="bx bx-buildings"></i> Dados da Empresa
                  </a>
                </li>
                
                <% if can?(:manage, Subscription) %>
                <li>
                  <a class="nav-link text-decoration-none d-block py-2 ps-2 link-dark" id="tab-assinatura" data-bs-toggle="pill" href="#assinatura" role="tab" aria-controls="assinatura" aria-selected="false">
                    <i class="bx bx-credit-card"></i> Assinatura
                  </a>
                </li>
                <% end %>
              </ul>
            </div>
          </nav>
          <!-- Conteúdo -->
          <div class="col-md-9">
            <div class="tab-content py-4 px-2" id="configTabsContent">
              <div class="tab-pane fade show active" id="perfil" role="tabpanel" aria-labelledby="tab-perfil">
                <%= render 'profile_form', user: current_user %>
              </div>
              <div class="tab-pane fade" id="gestores" role="tabpanel" aria-labelledby="tab-gestores">
                <% if can?(:manage, User) %>
                  <%= render 'managers' %>
                <% end %>
              </div>
              <div class="tab-pane fade" id="empresa" role="tabpanel" aria-labelledby="tab-empresa">
                <%= render 'company_data' %>
              </div>

              <% if can?(:manage, Subscription) %>
              <div class="tab-pane fade" id="assinatura" role="tabpanel" aria-labelledby="tab-assinatura">
                <%= render 'subscription' %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>