<%= form_with(model: @client, 
              url: @client.persisted? ? app_client_path(@client) : app_clients_path,
              local: true) do |f| %>
<div class="row g-3">
  <div class="col-md-12">
    <%= f.label :name, "Nome", class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="col-md-12">
    <%= f.label :document, "Documento", class: "form-label" %>
    <%= f.text_field :document, class: "form-control", value: @client.formatted_document, readonly: @client.persisted?, disabled: @client.persisted? %>
  </div>
  <div class="col-md-12">
    <%= f.label :email, "Email", class: "form-label" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="col-md-12">
    <%= f.label :phone, "Telefone", class: "form-label" %>
    <%= f.text_field :phone, class: "form-control" %>
  </div>

  <%= f.fields_for :addresses do |a| %>
  <div class="col-md-4">
    <%= a.label :zip_code, "CEP", class: "form-label" %>
    <%= a.text_field :zip_code, class: "form-control" %>
  </div>
  <div class="col-md-2">
    <%= a.label :state, "Estado", class: "form-label" %>
    <%= a.text_field :state, class: "form-control", readonly: true%>
  </div>
  <div class="col-md-3">
    <%= a.label :city, "Cidade", class: "form-label" %>
    <%= a.text_field :city, class: "form-control", readonly: true %>
  </div>
  <div class="col-md-3">
    <%= a.label :neghborhood, "Bairro", class: "form-label" %>
    <%= a.text_field :neighborhood, class: "form-control", readonly: true %>
  </div>
  <div class="col-md-7">
    <%= a.label :street, "Logradouro", class: "form-label" %>
    <%= a.text_field :street, class: "form-control", readonly: true %>
  </div>
  <div class="col-md-2">
    <%= a.label :number, "Número", class: "form-label" %>
    <%= a.text_field :number, class: "form-control" %>
  </div>
  <div class="col-md-3">
    <%= a.label :complement, "Complemento", class: "form-label" %>
    <%= a.text_field :complement, class: "form-control" %>
  </div>
  <% end %>

  <div class="col-md-12">
    <div class="d-flex align-items-center justify-content-between gap-3 mt-2">
      <div>
        <%= f.submit "Enviar", class: "btn btn-primary px-4" %>
        <%= link_to "Voltar", app_clients_path, class: "btn btn-light px-4" %>
      </div>
      <% if @client.persisted? %>
      <%= link_to "Excluir", app_client_path(@client),
        method: :delete,
        data: { 
          confirm: "Tem certeza que deseja excluir este cliente?"
        },
        class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag "viacep" %>
<% end %>