<div class="py-2">
  <h5 class="mb-3">Base de Conhecimento</h5>

  <div class="mb-3">
    <input type="text"
           class="form-control"
           placeholder="Busque por uma dúvida (em breve)"
           disabled>
  </div>

  <div class="row">
    <% articles.group_by(&:category).each do |category, group| %>
      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h6 class="mb-2"><%= category.present? ? category : "Outros" %></h6>
            <ul class="mb-0">
              <% group.each do |article| %>
                <li>
                  <a href="#"
                     class="js-knowledge-base-article"
                     data-article-title="<%= article.title %>"
                     data-article-content="<%= article.content.gsub('"', '&quot;').gsub("\n", "") %>">
                    <%= article.title %>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% if params[:article_id] %>
    <% article = articles.find { |a| a.id == params[:article_id].to_i } %>
    <% if article %>
      <hr>
      <h4><%= article.title %></h4>
      <div><%= simple_format(article.content) %></div>
    <% end %>
  <% end %>
</div>

<div class="modal fade" id="knowledgeBaseModal" tabindex="-1" aria-labelledby="knowledgeBaseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="knowledgeBaseModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body" id="knowledgeBaseModalBody"></div>
    </div>
  </div>
</div>

<%= javascript_include_tag "app/knowledge_base_modal" %>