<div class="page-wrapper">
  <div class="page-content">
    <%= render "onboarding_welcome_modal" %>

    <% flash.each do |type, message| %>
    <% bootstrap_class = { notice: "alert-success", alert: "alert-danger", error: "alert-danger" }[type.to_sym] || "alert-info" %>
    <div class="alert <%= bootstrap_class %> alert-dismissible fade show" role="alert">
      <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% end %>

    <% if current_user.tecnico? %>
      <%= render "technician_dashboard" %>
    <% else %>
      <%= render "general_dashboard" %>
    <% end %>

  </div>
</div>
<div class="overlay toggle-icon"></div>
<a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
