<div id="sidebar" data-turbo-permanent data-controller="scrollbar" class="sidebar-wrapper js-perfect-scrollbar">
  <div class="sidebar-header">
    <div>
      <%= image_tag 'logo-img.png', class: "logo-icon", alt: "logo icon" %>
    </div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu" style="position: relative; z-index: 10;">
    <li class="list-group-item <%= active_menu_class(app_dashboard_path) %>">
      <%= link_to app_dashboard_path do %>
      <div class="parent-icon"><i class='bx bx-home-alt'></i></div>
      <div class="menu-title">Dashboard</div>
      <% end %>
    </li>

    <% if can?(:manage, Client) %>
    <li class="list-group-item <%= active_menu_class(app_clients_path) %>">
      <%= link_to app_clients_path do %>
      <div class="parent-icon"><i class='bx bx-user'></i></div>
      <div class="menu-title">Clientes</div>
      <% end %>
    </li>
    <% end %>

    <% if can?(:manage, OrderService) || can?(:read, OrderService) %>
    <li class="list-group-item <%= active_menu_class(app_order_services_path) %>">
      <%= link_to app_order_services_path do %>
      <div class="parent-icon"><i class='bx bx-edit'></i></div>
      <div class="menu-title">Ordens de Serviço</div>
      <% end %>
    </li>
    <% end %>

    <% if can?(:manage, User) %>
    <li class="list-group-item <%= active_menu_class(app_technicians_path) %>">
      <%= link_to app_technicians_path do %>
      <div class="parent-icon"><i class='bx bx-run'></i></div>
      <div class="menu-title">Técnicos</div>
      <% end %>
    </li>
    <% end %>

    <% if can?(:manage, Report) %>
    <li class="list-group-item <%= active_menu_class(app_reports_path) %>">
      <%= link_to app_reports_path do %>
      <div class="parent-icon"><i class='bx bx-file'></i></div>
      <div class="menu-title">Relatórios</div>
      <% end %>
    </li>
    <% end %>
    
    <% if can?(:read, :calendar) %>
    <li class="list-group-item <%= active_menu_class(app_calendar_index_path) %>">
      <%= link_to app_calendar_index_path do %>
      <div class="parent-icon"><i class='bx bx-calendar'></i></div>
      <div class="menu-title">Calendário</div>
      <% end %>
    </li>
    <% end %>

    <li class="list-group-item <%= active_menu_class(app_configurations_path) %>">
      <%= link_to app_configurations_path do %>
      <div class="parent-icon"><i class='bx bx-wrench'></i></div>
      <div class="menu-title">Configuração</div>
      <% end %>
    </li>

    <% if can?(:read, :support) %>
    <li class="list-group-item <%= active_menu_class(app_support_index_path) %>">
      <%= link_to app_support_index_path do %>
        <div class="parent-icon"><i class="bx bx-support"></i></div>
        <div class="menu-title">Suporte</div>
      <% end %>
    </li>
    <% end %>
    
    <li class="list-group-item <%= active_menu_class(logout_app_url) %>">
      <%= link_to logout_app_url, class: "js-logout" do %>
      <div class="parent-icon"><i class='bx bx-log-out'></i></div>
      <div class="menu-title">Logout</div>
      <% end %>
    </li>
  </ul>
  <!--end navigation-->
  <% unless current_user.admin?%>
    <div class="sidebar-footer text-center mt-4 mb-2" style="font-size: 0.95em; color: #888;">
      <hr>
        <span>
          Plano atual: <strong><%= current_user.company.plan.name %></strong>
        </span>
    </div>
  <% end %>
</div>