<div class="js-wait">
  <%= form_with(model: @order_service, 
                url: @order_service.persisted? ? app_order_service_path(@order_service) : app_order_services_path,
                local: true) do |f| %>
  <div class="row g-3">
    <div class="row mb-3 mt-3">
      <div class="col-md-6">
        <%= f.label :client_id, "Cliente", class: "form-label" %>
        <%= f.collection_select :client_id,
                                @clients,
                                :id,
                                :name,
                                { prompt: "Selecione o cliente" },
                                class: "form-select" %>
      </div>
      <div class="col-md-3">
        <%= f.label :scheduled_at, "Data agendada", class: "form-label" %>
        <%= f.text_field :scheduled_at,
                          class: "form-control",
                          type: "datetime-local",
                          value: (
                            @order_service.scheduled_at&.strftime("%Y-%m-%dT%H:%M") if @order_service.scheduled_at
                          ) %>
      </div>
      <div class="col-md-3">
        <%= f.label :expected_end_at, "Data prevista de término", class: "form-label" %>
        <%= f.text_field :expected_end_at,
                          class: "form-control",
                          type: "datetime-local",
                          value: (
                            @order_service.expected_end_at&.strftime("%Y-%m-%dT%H:%M") if @order_service.expected_end_at
                          ) %>
      </div>                    
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <%= f.label :title, "Título", class: "form-label" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <%= f.label :description, "Descrição", class: "form-label" %>
        <%= f.text_area :description, class: "form-control", rows: 3 %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <%= f.label :attachments, "Anexos", class: "form-label" %>
        <% if @order_service.persisted? %>
        <%= f.file_field :attachments, multiple: true, class: "form-control" %>
        <%= render partial: "app/order_services/attachments", locals: { order_service: @order_service } %>
        <% else %>
        <p class="form-text text-muted">Salve a ordem de serviço antes de anexar arquivos.</p>
        <% end %>
      </div>
    </div>
    <% if @order_service.persisted? %>
    <div class="row mb-3">
      <div class="col-md-12">
        <%= f.label :observations, "Observações", class: "form-label" %>
        <%= f.text_area :observations, class: "form-control", rows: 3 %>
      </div>
    </div>
    <% end %>
    <div class="row mb-3">
      <div class="col-md-12">
        <%= f.label :user_ids, "Técnicos atribuídos", class: "form-label" %>
        <%= f.collection_select :user_ids,
                                  @technicians,
                                  :id,
                                  :name,
                                  {
                                    prompt: "Selecione os técnicos",
                                    selected: @order_service.user_ids 
                                  },
                                  {
                                    multiple: true,
                                    class: "form-select",
                                    id: "multiple-select-field",
                                    data: {
                                      placeholder: "Escolha os técnicos"
                                    }
                                  } %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <h5>Itens de Serviço</h5>
        <div id="service-items-list">
          <% @order_service.service_items.each_with_index do |item, idx| %>
          <div class="input-group mb-2">
            <%= f.fields_for :service_items, item do |item_fields| %>
            <%= item_fields.text_field :description, class: "form-control", placeholder: "Nome do item" %>
            <%= item_fields.text_field :quantity, class: "form-control", placeholder: "Quantidade" %>
            <%= item_fields.text_field :unit_price, class: "form-control", placeholder: "Valor unitário" %>
            <%= item_fields.hidden_field :_destroy, class: "service-item-destroy-flag" %>
            <button type="button" class="btn btn-danger remove-item">Remover</button>
            <% end %>
          </div>
          <% end %>
        </div>
        <button type="button" class="btn btn-outline-primary" id="add-service-item">Adicionar item</button>
      </div>
    </div>

    <div id="service-item-template" style="display:none;">
      <div class="input-group mb-2 service-item-row">
        <input type="text"
                name="order_service[service_items_attributes][NEW_INDEX][description]"
                class="form-control"
                placeholder="Nome do item" />
        <input type="text"
                name="order_service[service_items_attributes][NEW_INDEX][quantity]"
                class="form-control"
                placeholder="Quantidade" />
        <input type="text"
                name="order_service[service_items_attributes][NEW_INDEX][unit_price]"
                class="form-control"
                placeholder="Valor unitário" />
        <button type="button" class="btn btn-danger remove-item">Remover</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mt-3">
        <%= f.submit "Salvar", class: "btn btn-primary px-4" %>
        <%= link_to "Voltar", 
            @order_service.persisted? ? app_order_service_path(@order_service) : app_order_services_path,
            class: "btn btn-light px-4" %>
      </div>
    </div>
  </div>
  <% end %>
</div>